<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.uark.csce.parkansas.parkansas" >

    <permission
        android:name="edu.uark.csce.parkansas.parkansas.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <uses-permission android:name="edu.uark.csce.parkansas.parkansas.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <activity
            android:name=".SplashActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyBZ5oTgEF3jmMtXKL0nUUxURnmUA2BMGvg" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"
            android:screenOrientation="portrait" >
        </activity>

        <activity
            android:name=".HelpActivity"
            android:label="@string/title_activity_help" >
        </activity>

        <provider
            android:name=".ParkansasContentProvider"
            android:authorities="edu.uark.csce.parkansas.parkansas.parkansasprovider"
            android:enabled="true"
            android:exported="true" >
        </provider>

        <activity
            android:name=".ResultActivity"
            android:label="@string/alert_text"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".AlertInfoActivity"
            android:label="@string/title_activity_alert_info"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".DeveloperInfoActivity"
            android:label="@string/title_activity_developer_info"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
        </activity>

        <receiver
            android:name=".AlertReceiver"
            android:enabled="true"
            android:exported="true" >
        </receiver>


    </application>

</manifest>
